body{
    font-family: 'Segoe UI', sans-serif;
    background:#f4f7fb;
    color:#333;
    max-width:1000px;
    margin:auto;
    padding:20px;
    line-height:1.6;
}

h1{
    text-align:center;
    color:#0d3b66;
    font-size:42px;
    margin-bottom:10px;
}

h2{
    color:#0d3b66;
    border-bottom:2px solid #0d3b66;
    padding-bottom:5px;
    margin-top:30px;
}

img{
    display:block;
    margin:auto;
    width:180px;
    border-radius:50%;
    border:5px solid #0d3b66;
}

.btn{
    display:inline-block;
    background:#0d3b66;
    color:white;
    padding:10px 20px;
    border-radius:8px;
    text-decoration:none;
    margin:5px;
}

.btn:hover{
    background:#0056b3;
}

.resume-btn{
    background:#1f4e79;
    color:white;
    padding:10px 20px;
    text-decoration:none;
    border-radius:5px;
}
p,li{
    font-size:16px;
}

footer{
    margin-top:30px;
    text-align:center;
    color:#666;
}
